<html lang="en">
<head>
    <title>FaceDynamics post like notification</title>
</head>
<body bgcolor="#faf7f1">
<div style="text-align: -webkit-left;">
    <h3>Hello $ownerName, you have new dislikes!</h3>
    <div>
        Your post <i>"$postBody ..." </i><br/>
        is disliked $numberOfDislikes $times during $min $minutes<br/>
        First dislike was made at $likeCreatedAt
    </div>

    <p><i>Best regards, <br/>
        your FaceDynamics Team</i> </p>
</div>
</body>
</html>