<html lang="en">
<head>
    <title>FaceDynamics follows notification</title>
</head>
<body bgcolor="#faf7f1">
<div style="text-align: -webkit-left;">
    <h3>Hello $ownerName, you have a new follow!</h3>
    <div>
        $triggererUsername started following you at $followCreatedAt<br/>
    </div>

    <p><i>Best regards, <br/>
        your FaceDynamics Team</i> </p>
</div>
</body>
</html>