
<html lang="en">
<head>
    <title>FaceDynamics reset password notification</title>
</head>
<body bgcolor="#faf7f1">
<div style="text-align: -webkit-left;">
    <h3>Hello $ownerName, you just requested to reset your password.<br/>
        at $createdAt</h3>
    <div>
        Please click the link below to reset your account password.<br/>
        <a href="$link">Reset Password Link</a><br/>
        Please note, the above link is only valid for $timeToLive minutes.
    </div>

    <p><i>Best regards, <br/>
        your FaceDynamics Team</i> </p>
</div>
</body>
</html>